<div id="div_selectedHero" *ngIf="hero">
  <h2 style="color: white;">{{ hero.name | uppercase }} Details</h2>
  <div class="div_selectedherodetails">
    <span id="span_heroid">id:

    </span>{{hero.id}}
  </div>
  <div>
    <label>name:
      <mat-form-field>
        <input matInput [(ngModel)]="hero.name" placeholder="" />
      </mat-form-field>
    </label>
  </div>
  <div style="display: flex;">
    <button mat-raised-button class="btn_back" (click)="goBack()">Go back</button>
    <button mat-raised-button class="btn_save" (click)="save()">save</button>
  </div>
</div>
